.article-create-div {
  min-height: 3 0vh;
  background-color: white;
  margin: 2% 5% 2% 5%;
  padding: 1%;
  border-radius: 5px;
  box-shadow: rgb(241, 237, 237) 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.article-create-div .remove-color {
  border: none;
  width: 100%;
  padding: 1rem;
  background-color: rgb(218, 57, 57);
  border-radius: 5px;
  margin: 5px;
}
.add-color-button-div {
  display: flex;
  justify-content: center;
}
.add-color-button-div .add-color-button {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: blueviolet;
}
