.product-describe-div {
  min-height: 3 0vh;
  background-color: white;
  margin: 2% 5% 2% 5%;
  padding: 1%;
  border-radius: 5px;
  box-shadow: rgb(241, 237, 237) 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-describe-div div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.product-describe-div div span {
  font-size: 16px;
  font-weight: 600;
  min-width: max-content;
}
.product-describe-div input {
  border: 1px solid rgb(236, 223, 223);
  outline: none;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
}
.product-describe-div input:focus {
  outline: 1px solid blueviolet;
}

/* category input start */

.category-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.product-describe-div .category-input-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 80%;
  max-width: 80%;
}
.category-box span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 15%;
  min-width: fit-content;
}
/* category input end */

/*  category list start*/
.product-describe-div .category-list {
  position: absolute;
  background-color: white;
  color: black;
  right: 0;
  top: 0;
  width: 82%;
  display: none;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 35px;
  margin-right: 1px;
  z-index: 100;
  min-height: fit-content;
}
.product-describe-div .category-list-display {
  display: flex;
}

/*  category list end */

/* input item start*/
.input-item-box {
  border-radius: 3px;

  background-color: rgb(243, 237, 237);
  padding: 5px 5px 5px 5px;
  font-size: 15px;
}
.input-item-box .delete {
  color: red;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2px;
}
/* input item end*/

/* FANCY SECTION STRATRING*/
.fancy-div {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: yellow; */
}
.fancy-div .fancy-item-div {
  margin-top: 10px;
  width: 100%;
  position: relative;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.fancy-div .fancy-item-list {
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px 10px 10px 10px;

  width: 100%;
  position: absolute;
  min-height: fit-content;
  overflow: hidden;
  flex-wrap: wrap;
  max-height: 300px;
  background: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(250, 246, 246);
  margin: 0;
  padding: 0;
}
.fancy-box {
  width: 100%;
  max-width: 100% !important;
  /* flex-shrink: 2;
  flex-grow: 2; */

  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start !important;
  flex-wrap: wrap;
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  padding-left: 5px;
  /* border: 1px solid blueviolet;

  padding: 0;
  border-radius: 5px;
  width: 100% !important;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: blueviolet; */
}

.fancy-box .fancy-input {
  border: none;

  width: 1%;
  min-width: 1%;

  /* width: 100%;
  border: 1px solid blueviolet; */
}
.fancy-box .fancy-input:focus {
  outline: none;
}
.fancy-div .category-item {
  width: 95%;
  padding: 15px 110px 5px 10px;
  border-radius: 5px;
}
.fancy-div .category-item:hover {
  background-color: rgb(243, 236, 236);
  cursor: pointer;
}

.fancy-box .item-holder-div::-webkit-scrollbar {
  display: none;
}
.fancy-box .item-holder-box {
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  width: fit-content;
  min-width: 10px;

  overflow: hidden;
  background-color: rgb(220, 211, 211);
}
.fancy-box .item-holder-box .item-name {
  width: auto;
  max-width: 250px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fancy-box .item-holder-box .delete-item {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.fancy-box .item-holder-box .delete-item img {
  width: 15x;
  height: 15px;
}

/* FANCY SECTION ENDIGNG*/

/* DIMENSION SECTION START*/
.dimension-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.dimension-box .dimen-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 70px;
  width: 33%;
}
.dimension-box .dimen-item span {
  font-weight: 500;
}
.dimension-box .dimen-item input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dimension-box .dimen-item input[type="number"] {
  -moz-appearance: textfield;
}
/* DIMENSION SECTION ENDING*/
