.color-box-div {
  width: 250px;
  height: 80px;
  border: 1px solid rgb(185, 175, 195);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  cursor: pointer;
  position: relative;
}
.chosen {
  border: 1px solid blueviolet;
}
.color-box-div .color-box-left {
  width: 30%;
  height: 100%;
  border-right: 1px solid rgb(185, 175, 175);
}
.color-box-div .color-box-right {
  width: 70%;
  padding: 20px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.color-box-div .color-box-right .delete-article-img-box {
  position: relative;
  width: 25%;
}
