.top-div {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  padding: 10px;
}
.top-div .top-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: #242424;
  font-size: 1.2rem;
}

.top-div .top-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  right: 0;
}
