.color-and-size-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.color-and-size-div .add-color-button {
  background-color: blueviolet;
  border: none;
  padding: 12px 40px 12px 40px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.color-and-size-div .add-color-button span {
  margin-left: 6px;
}
.color-and-size-div .add-color-button:hover {
  background-color: rgb(154, 69, 235);
}
.color-and-size-div .color-box-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: fit-content;
  padding: 20px 0 20px 0;
}
.color-and-size-div .pictures-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 300px !important;
}
.color-and-size-div .pictures-div .pictures-text {
  font-size: 20px;
  padding: 20px 0 0 20px;
  font-family: "Courier New", Courier, monospace;
}
.color-and-size-div .pictures-div .pictures-box-big {
  width: 100%;
  min-height: 100% !important;
  margin: 5px;
}
.color-and-size-div .pictures-div .pictures-box {
  min-height: 100% !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.color-and-size-div .picture-wrapper {
  position: relative;
}

.color-and-size-div .picture-wrapper img {
  width: 200px;
  height: 240px;
  margin: 0 10px 10px 0;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  object-fit: contain;
}
.color-and-size-div .picture-wrapper .pic-delete-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  color: gray;
  z-index: 99;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
  display: none;
  cursor: pointer;
}
.color-and-size-div .picture-wrapper .pic-delete-icon:hover {
  display: block;
}
.color-and-size-div .picture-wrapper img:hover + .pic-delete-icon {
  display: block;
}

.color-and-size-div .pictures-label {
  width: 100%;
  background-color: yellow !important;
}
.color-and-size-div .pictures-label .pictures-plus-icon {
  background-color: rgb(233, 233, 224);
  height: 300px;
  border: 1px dashed rgb(189, 175, 175);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-and-size-div .pictures-label .pictures-plus-icon:hover {
  background-color: rgb(227, 227, 214);
}
.color-and-size-div .pictures-label .pictures-plus-icon .plus-icon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 150px;
  height: max-content !important;
}
.color-and-size-div
  .pictures-label
  .pictures-plus-icon
  .plus-icon-div
  .plus-icon {
  width: 50px;
  height: 50px;
  color: gray;
  padding: 8px;
  font-size: 10px;
  border-radius: 20px;
  border: 2px solid gray;
}

.color-and-size-div
  .pictures-label
  .pictures-plus-icon
  .plus-icon-div
  .pictures-add-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
}
.color-and-size-div
  .pictures-label
  .pictures-plus-icon
  .plus-icon-div
  .pictures-add-description
  .pictures-highlight-text {
  color: blueviolet;
  font-weight: 700;
  font-size: 17px;
}

.add-size-box {
  width: 100%;
  /* background-color: yellow; */

  margin: 10px;
}
.add-size-box div {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.add-size-box .add-size-icon {
  color: blueviolet;
}
.add-size-box .add-size-text {
  color: blueviolet;
  margin-left: 10px;
}
